body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #5465FF 0%,
        #788BFF 30%,
        #9BB1FF 60%,
        #BFD7FF 100%
    );
}

.container {
    max-width: 340px;
    margin: 100px auto;
    padding: 24px;

    background: rgba(255, 255, 255, 0.95);
    border-radius: 16px;

    backdrop-filter: blur(8px);

    border: 1px solid rgba(255, 255, 255, 0.4);

    box-shadow:
        0 30px 80px rgba(84, 101, 255, 0.4),
        0 12px 30px rgba(0, 0, 0, 0.15);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input{
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #BFD7FF;
    font-size: 14px;
}

.btn{
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    background: #5465FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background:#788BFF
}

#error {
    color: red;
    text-align: center;
    min-height: 20px;
    margin-top: 10px;
}

.link-text{
    text-align: center;
    margin-top: 12px;
}

.title{
    text-align: center;
    margin-bottom: 16px;
}